<!DOCTYPE html>
<html lang="es">
<head>
 <meta charset="iso-8859-1" />
 <meta http-equiv="x-ua-compatible" content="ie=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
 <meta name="keywords" content="utem, universidad, tecnologica, metropolitana, chile, tecnologia, sustentabilidad, responsabilidad, social, talento, ingenieria, ciencias, territorial, construccion" />
 <meta name="author" content="Comunicaciones - www.utem.cl" />
 <meta name="title" content="Universidad Tecnologica Metropolitana" />
 <meta name="description" content="Pioneros en Tecnologia, Sustentabilidad y Responsabilidad Social" />
 <meta charset="utf-8">
 <link rel="stylesheet" href="css/00_estilos_utem.css" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/css?family=Junge" rel="stylesheet">
 <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond-master/src/respond.js"></script>
 <![endif]-->
 <script src="js/jquery-1.12.3.min.js"></script>
 <script type="text/javascript">
  document.getElementsByTagName('html')[0].style.fontSize = '62.5%';
  document.body.style.fontSize = '1.6rem';
 </script>
 <script src="js/jquery-migrate-1.3.0.min.js"></script>
 <script src="js/modernizr.js"></script>
 <script src="js/jquery-scrolltofixed-min.js"></script>
 <script src="js/toggle.js"></script>
 <script src="js/utem-corp.js"></script>
 <meta charset="utf-8">
 <title>Universidad Tecnol&oacute;gica Metropolitana</title>
</head>

<body class="clr-cor">

<!-- INICIO CABECERA -->
<header id="cabecera" class="envoltura" >
 <div class="envoltura-16 posicion-relativa-cabecera">
  <!-- Inicio Corporativo -->
  <div class="row">
    <div class="col-md-5 utem-log"><img width="300" height="70" src="http://uestatales.cl/cue/sites/default/files/publicaciones/utem_imagotipoPNG.png" class="img-fluid"></div>
  </div>
  <div id="top-gob-escritorio"><div class="azul"></div></div>
  <!-- Fin Corporativo -->
  <!-- 
  <div id="buscador">
   <form method="get" id="form-buscador" action="https://www.utem.cl/">
    <input type="text" name="s" id="s" value="Buscar..." onFocus="if (this.value == 'Buscar...') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Buscar...';}" />
    <input type="submit" id="buscar"  value="Ir" />
   </form>
  </div> -->
  <!-- Inicio Barra Perfiles -->
  <!-- Fin Barra Perfiles -->
 </div>
    <style type="text/css">
    a:link, li {
      text-decoration:none;
      margin-bottom: -5px;
    }
    body {
    font-family: 'Junge', serif;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 
    }
    .margen {
      margin-top: 1.5em;
    }

    .utem-log{
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 2em;
      margin-right: 1em;
    }

    .margenl{
      margin-right: 2em;
    }
    a:hover{
      background-color: transparent;
    }
    </style>
    <script type="text/javascript">
    function mostrar(id) {
        if (id == "0") {
            $("#LOCAL").show();
            $("#DOM").hide();
            $("#DOM1").hide();
            document.getElementById("p1").innerHTML = "Mensaje";
        }
        if(id == "1"){
            $("#LOCAL").hide();
            $("#DOM").show();
            $("#DOM1").show();
            document.getElementById("p1").innerHTML = "Oferta Laboral";
        }
    }
    </script>
</header>
<!-- FIN CABECERA -->

<!-- INICIO MENU PRINCIPAL ESCRITORIO -->
<% if current_user  %>
    <%= link_to "Salir",destroy_user_session_path , method: :delete , :class => "float-right btn btn-danger"%>
<% end %>
<section id="menu-principal-escritorio" class="envoltura" style="background-color: #044f8e; ">
  <nav id="nav-escritorio" class="envoltura-16">
    <div id="utem-toggle-escrt"></div>
    <ul id="menu-escritorio">
      <li><a href="/iniciodepto/inicio">INICIO</a></li>
      <li><a href="/academico/JC">ACADÉMICOS</a>
      <li><a href="/investigacion">INVESTIGACIÓN</a>
      <li><a href="/organizacion">ORGANIZACIÓN</a>
      <li><a href="/links">LINKS</a>
      <li><a href="/contactod">CONTACTO</a>
    </ul>
  </nav>
</section>
<!-- FIN MENU PRINCIPAL ESCRITORIO-->

<!-- Inicio Limpiar flotante -->
<div class="limpiar"></div>
<!-- Fin Limpiar flotante -->

<!-- INICIO MENU PRINCIPAL RESPONSIVO -->
<div class="envoltura bg-menursp" style="background-color: #044f8e;">
  <section id="menu-principal-rsp" class="envoltura-16" style="background-color: #044f8e;">
    <div id="contenedor-principal-rsp" >
      <header id="top-acordeon-rsp">
        <div id="top-gob-rsp"><div class="azul"></div></div>
        <div id="utem-logo-rsp"><a href="">&nbsp;</a><h1>Universidad Tecnológica Metropolitana</h1></div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#contenedor-menu-rsp">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div id="utem-toggle-rsp"></div>
      </header>
      <div class="collapse" id="contenedor-menu-rsp" style="background-color: #044f8e;">
        <nav id="nav-rsp">
          <div id="perfiles-rsp" class="envoltura">
            <h5>MENÚ</h5>
            <ul>
            <li class=""><a href="/iniciodepto/inicio" class="nodesplegable">INICIO</a></li>
            <li class=""><a href="/academico/JC">ACADÉMICOS</a>
            <li class=""><a href="/investigacion">INVESTIGACIÓN</a>
            <li class=""><a href="/organizacion">ORGANIZACIÓN</a>
            <li class=""><a href="/links">LINKS</a>
            <li class=""><a href="/contactod">CONTACTO</a>
            </ul>
          </div>
          <!-- Inicio Limpiar flotante -->
          <div class="limpiar"></div>
          <!-- Fin Limpiar flotante -->
        </nav>
      </div>
    </div>
  </section>
</div>
<!-- FIN MENU PRINCIPAL RESPONSIVO -->

<!-- INICIO CONTENIDO PRINCIPAL -->
<main class="envoltura-16 espacio-vinf espacio-vsup ">
    <div class="row">
      <div class="">
        <!-- DE ACA SE PUEDE PEGAR LAS CASILLAS -->
        <!-- HASTA ACA -->
      </div>
      <div class="col-sm-12 col-md-12">
        <h4>Departamento de informática y computación</h4>
            <div class="container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d699.7005120016598!2d-70.59784027403448!3d-33.466099071778224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cfc270900eb7%3A0x330e0d87329f4a5f!2sUniversidad+Tecnol%C3%B3gica+Metropolitana+-+Campus+Macul!5e0!3m2!1ses-419!2scl!4v1507604787839" style="border:0" allowfullscreen="" frameborder="0" height="250" width="100%"></iframe>
            </div>
            <strong>Contactenos</strong><br><strong>Oficina:</strong> ...
            <hr>
      </div>
      <div class="">
      </div>
      <div class=" col-sm-12 push-md-2 col-md-6 margen">
      <!-- Button trigger modal -->
        <!-- Button trigger modal -->
        <center>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalLong">
          Oferta Laboral
        </button>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalLong2">
          Consulta
        </button>
        </center>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Oferta Laboral</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(@oferta_laborals, :url => {:action => :crear}) do |f|%>
                <% if @oferta_laborals.errors.any? %>
                    <div class="margen alert alert-danger alert-dismissible fade show" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      <% @oferta_laborals.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                      <% end %>
                    </div>
                <% end %> 
                <div class="form-group">
                    <label class="control-label margenl" for="Nombre">Nombres</label>
                    <br>
                  <%= f.text_field :nombre %>
                </div>            
                <div class="form-group margen1" id="DOM">
                    <label class="control-label margenl" id="DOM" for="Empresa">Empresa</label>
                    <br>
                    <%= f.text_field :empresa %>
                </div>
                <div class="form-group">
                <%= f.hidden_field :oferta_d, :value => 0 %>
                </div>
                <div class="form-group" id="DOM1">
                    <label class="control-label margenl" id="DOM" for="Empresa">Cargo</label>
                    <br>
                    <%= f.text_field :cargo %>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Correo">Dirección de Correo Electrónico</label>
                    <br>
                    <%= f.text_field :correo %>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Mensaje" id="p1">Mensaje</label>
                    <br>
                    <%= f.cktext_area :descripcion %>
                </div>
                    <%= f.hidden_field :aceptado, :value => '0'%>
                <div class="modal-footer">               
                    <input type="submit" class="btn btn-primary btn-lg" value="Enviar">
                    <input type="reset" class="btn btn-default btn-lg" value="Limpiar">                
                </div>
                <div id="respuesta" style="display: none;"></div>
              </form>
                <% end %> 
      </div> 
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Consulta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(@oferta_laborals, :url => {:action => :crear}) do |f|%>
                <% if @oferta_laborals.errors.any? %>
                    <div class="margen alert alert-danger alert-dismissible fade show" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      <% @oferta_laborals.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                      <% end %>
                    </div>
                <% end %> 
                <div class="form-group">
                    <label class="control-label margenl" for="Nombre">Nombres</label>
                    <br>
                  <%= f.text_field :nombre %>
                </div>         
                <div class="form-group margen1" id="DOM">
                    <br>
                    <%= f.hidden_field :empresa, :value => "ninguna" %>
                    <%= f.hidden_field :cargo, :value => "ninguna" %>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Correo">Dirección de Correo Electrónico</label>
                    <br>
                    <%= f.text_field :correo %>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Mensaje" id="p1">Mensaje</label>
                    <br>
                    <%= f.cktext_area :descripcion %>
                </div>
                    <%= f.hidden_field :aceptado, :value => '0'%>          
                    <%= f.hidden_field :oferta_d, :value => 1%>
                <div class="modal-footer">               
                    <input type="submit" class="btn btn-primary btn-lg" value="Enviar">
                    <input type="reset" class="btn btn-default btn-lg" value="Limpiar">                
                </div>
                <div id="respuesta" style="display: none;"></div>
              </form>
                <% end %> 
      </div> 
    </div>
  </div>
</div>
      </div>
    </div>
 <!-- Fin Noticias -->
 <!-- Inicio Agenda -->
 <!-- Fin Agenda -->
 <!-- Inicio Limpiar flotante -->
 <div class="limpiar"></div>
 <!-- Fin Limpiar flotante -->
</main>
<!-- FIN CONTENIDO PRINCIPAL -->


<!-- INICIO PIE -->
<footer id="pie-pagina" class="envoltura">
  <div class="linea-inf-oscura">
    <div id="menu-pie-pagina" class="envoltura-16">
      <ul>
        <li class="col-4-pie">
          <div class="borde-menu-pie-pagina">
            <header class="cabecera-nav-pie-pagina">
              <h3>NUESTRAS REDES:</h3>
            </header>
            <nav class="nav-pie-pagina">
              <ul>
                <li><a href="https://www.facebook.com/utem.cl/" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/utem" target="_blank">Twitter</a></li>
              </ul>
            </nav>
          </div>
          <!-- Inicio Limpiar flotante -->
          <div class="limpiar"></div>
          <!-- Fin Limpiar flotante -->
        </li>
        <li class="col-4-pie">
          <div class="borde-menu-pie-pagina">
            <header class="cabecera-nav-pie-pagina">
              <h3>SERVICIOS:</h3>
            </header>
            <nav class="nav-pie-pagina">
              <ul>
                <li><a href="https://dirdoc.utem.cl/" target="_blank">Dirdoc</a></li>
                <li><a href="http://reko.utem.cl/portal/" target="_blank">Reko</a></li>
                <li><a href="https://mi.utem.cl/" target="_blank">Mi UTEM</a></li>
              </ul>
            </nav>
          </div>
          <!-- Inicio Limpiar flotante -->
          <div class="limpiar"></div>
          <!-- Fin Limpiar flotante -->
        </li>
        <li class="col-4-pie">
          <div class="borde-menu-pie-pagina">
            <header class="cabecera-nav-pie-pagina">
              <h3>NUESTRO SITIO:</h3>
            </header>
            <nav class="nav-pie-pagina">
              <ul>
                <li><a href="http://transparencia.utem.cl/politica-de-privacidad/" target="_blank">Pol&iacute;ticas de Privacidad</a></li>
                <li><a href="https://www.google.cl/maps/place/Universidad+Tecnol%C3%B3gica+Metropolitana+-+Campus+Macul/@-33.466645,-70.5995255,17z/data=!4m8!1m2!2m1!1sestadio+nacional!3m4!1s0x9662cfc270900eb7:0x330e0d87329f4a5f!8m2!3d-33.4661882!4d-70.5970763" target="_blank">Mapa del sitio</a></li>
              </ul>
            </nav>
          </div>
          <!-- Inicio Limpiar flotante -->
          <div class="limpiar"></div>
          <!-- Fin Limpiar flotante -->
        </li>
        <li class="col-4-pie">
          <div class="borde-menu-pie-pagina">
            <header class="cabecera-nav-pie-pagina">
              <h3>ACCESO INTRANET:</h3>
            </header>
            <div id="intranet">
              <% unless current_user %>
                  <a href="../../../users/sign_in">
                    <div class="campo-alt"><input type="submit" name="boton" id="entrar"  value="Iniciar Sesión"></div>
                  </a>
              <% else %>
                  <a href="#">
                    <div class="campo-alt"><input type="submit" name="boton" id="entrar"  value="Usted ya está como administrador"></div>
                  </a>
              <%end%>
            </div>
          </div>
          <!-- Inicio Limpiar flotante -->
          <div class="limpiar"></div>
          <!-- Fin Limpiar flotante -->
        </li>
      </ul>
      <!-- Inicio Limpiar flotante -->
      <div class="limpiar"></div>
      <!-- Fin Limpiar flotante -->
    </div>
  </div>
  <!-- Inicio Corporativo Pie Pagina -->
  <div id="corporativo-pie-pagina">
    <div class="contenedor-crpvo-pie-pagina envoltura-16">
      <div class="meta-autor">
        <div class="copyright">
          <p>Av. José Pedro Alessandri 1242, Ñuñoa, Región Metropolitana<br>
          <p class="cp">  2017 Universidad Tecnológica Metropolitana. - Todos los derechos reservados.<p>
        </div>
      </div>
      <div class="gob-pie"><%= image_tag("00_portales/gob_ch_768.jpg")%></div>
    </div>
    <div class="borde-sup-crpvo-ppag">
      <div id="logos-pie-rsp" class="envoltura-16">
        <div class="acreditacion-rsp"><img src="images/00_comunes/00_portales/ico_cna_768.png" alt=""></div>
        <div class="gob-pie-rsp"><img src="images/00_comunes/00_portales/gob_ch_768.jpg" alt=""></div>
      </div>
      <!-- Inicio Limpiar flotante -->
      <div class="limpiar"></div>
      <!-- Fin Limpiar flotante -->
    </div>
  </div>
  <!-- Fin Corporativo Pie Pagina -->
</footer>
<!-- FIN PIE -->


</body>

</html>