<!DOCTYPE html>
<html lang="es">
<head>
 <meta charset="iso-8859-1" />
 <meta http-equiv="x-ua-compatible" content="ie=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
 <meta name="keywords" content="utem, universidad, tecnologica, metropolitana, chile, tecnologia, sustentabilidad, responsabilidad, social, talento, ingenieria, ciencias, territorial, construccion" />
 <meta name="author" content="Comunicaciones - www.utem.cl" />
 <meta name="title" content="Universidad Tecnologica Metropolitana" />
 <meta name="description" content="Pioneros en Tecnologia, Sustentabilidad y Responsabilidad Social" />
 <meta charset="utf-8">
 <link rel="stylesheet" href="css/00_estilos_utem.css" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/css?family=Junge" rel="stylesheet">
 <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond-master/src/respond.js"></script>
 <![endif]-->
 <script src="js/jquery-1.12.3.min.js"></script>
 <script type="text/javascript">
  document.getElementsByTagName('html')[0].style.fontSize = '62.5%';
  document.body.style.fontSize = '1.6rem';
 </script>
 <script src="js/jquery-migrate-1.3.0.min.js"></script>
 <script src="js/modernizr.js"></script>
 <script src="js/jquery-scrolltofixed-min.js"></script>
 <script src="js/toggle.js"></script>
 <script src="js/utem-corp.js"></script>
 <meta charset="utf-8">
 <title>Universidad Tecnol&oacute;gica Metropolitana</title>
</head>

<body class="clr-cor">

<!-- INICIO CABECERA -->
<header id="cabecera" class="envoltura" >
 <div class="envoltura-16 posicion-relativa-cabecera">
  <!-- Inicio Corporativo -->
  <div class="row">
    <div class="col-md-5 utem-log"><img width="300" height="70" src="http://uestatales.cl/cue/sites/default/files/publicaciones/utem_imagotipoPNG.png" class="img-fluid"></div>
  </div>
  <div id="top-gob-escritorio"><div class="azul"></div></div>
  <!-- Fin Corporativo -->
  <!-- 
  <div id="buscador">
   <form method="get" id="form-buscador" action="https://www.utem.cl/">
    <input type="text" name="s" id="s" value="Buscar..." onFocus="if (this.value == 'Buscar...') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Buscar...';}" />
    <input type="submit" id="buscar"  value="Ir" />
   </form>
  </div> -->
  <!-- Inicio Barra Perfiles -->
  <!-- Fin Barra Perfiles -->
 </div>
    <style type="text/css">
    a:link, li {
      text-decoration:none;
      margin-bottom: -5px;
    }
    body {
    font-family: 'Junge', serif;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 
    }
    .margen {
      margin-top: 1.5em;
    }

    .utem-log{
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 2em;
      margin-right: 1em;
    }

    a:hover{
      background-color: transparent;
    }
    </style>
</header>
<!-- FIN CABECERA -->

<!-- INICIO MENU PRINCIPAL ESCRITORIO -->
<section id="menu-principal-escritorio" class="envoltura" style="background-color: #044f8e; ">
 <nav id="nav-escritorio" class="envoltura-16">
  <div id="utem-toggle-escrt"></div>
  <ul id="menu-escritorio">
   <li><a href="/iniciodepto/inicio">INICIO</a></li>
   <li><a href="/academico">ACADÉMICOS</a>
   <li><a href="/investigacion">INVESTIGACIÓN</a>
   <li><a href="/organizacion">ORGANIZACIÓN</a>
   <li><a href="/contactod">CONTACTO</a>
  </ul>
 </nav>
</section>
<!-- FIN MENU PRINCIPAL ESCRITORIO-->

<!-- Inicio Limpiar flotante -->
<div class="limpiar"></div>
<!-- Fin Limpiar flotante -->

<!-- INICIO MENU PRINCIPAL RESPONSIVO -->
<div class="envoltura bg-menursp" style="background-color: #044f8e;">
 <section id="menu-principal-rsp" class="envoltura-16" style="background-color: #044f8e;">
  <div id="contenedor-principal-rsp" >
   <header id="top-acordeon-rsp">
    <div id="top-gob-rsp"><div class="azul"></div></div>    
    <div id="utem-logo-rsp"><a href="">&nbsp;</a><h1>Universidad Tecnológica Metropolitana</h1></div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#contenedor-menu-rsp">
     <span class="sr-only">Toggle navigation</span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
    </button>
    <div id="utem-toggle-rsp"></div>
   </header>
   <div class="collapse" id="contenedor-menu-rsp" style="background-color: #044f8e;">
    <nav id="nav-rsp">
     <ul>
      <li class="nivel-01"><a href="" class="nodesplegable">INICIO</a></li>
      <li class="nivel-01"><a href="">ACADÉMICOS</a>
      <li class="nivel-01"><a href="">INVESTIGACIÓN</a>
      <li class="nivel-01"><a href="">ORGANIZACIÓN</a>
      <li class="nivel-01"><a href="">CONTACTO</a>
       <button type="button" class="toggle" data-toggle="collapse" data-target="#ggg"></button>
     </ul>
     <div id="perfiles-rsp" class="envoltura">
      <h5>PERFILES</h5>
      <ul>
       <li><a href="">UTEM</a></li>
       <li><a href="">Futuros Estudiantes</a></li>
       <li><a href="">Estudiantes</a></li>
       <li><a href="">Ex Alumnos</a></li>
       <li><a href="">Funcionarios</a></li>
       <li><a href="">Empresa</a></li>
      </ul>
     </div>
     <!-- Inicio Limpiar flotante -->
     <div class="limpiar"></div>
     <!-- Fin Limpiar flotante -->
    </nav>
   </div>
  </div>
 </section>
</div>
<!-- FIN MENU PRINCIPAL RESPONSIVO -->

<!-- INICIO CONTENIDO PRINCIPAL -->
<main class="envoltura-16 espacio-vinf espacio-vsup ">
    <div class="row">
      <div class=" col-sm-12 col-md-3">
        <!-- DE ACA SE PUEDE PEGAR LAS CASILLAS -->
        <div class="container-fluid">
          <ol class="breadcrumb margen">
            <li class="breadcrumb-item" style="font-family: 'Junge', serif; font-size:15px;"><a href=""><%= link_to 'Portal', portal_path %></a></li>
            <li class="breadcrumb-item active" style="font-family: 'Junge', serif; font-size:15px;">Departamento</li>
          </ol>
          <hr>
        </div>
        <!-- HASTA ACA -->
      </div>
      <div class=" col-sm-12 col-md-9">
        <%= form_for(@funcionario_deptos, :url => {:action => :update}) do |f| %>
      <% if @funcionario_deptos.errors.any? %>
        <div class="margen alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          <% @funcionario_deptos.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </div>
        <% end %> 
          <div class="col-md-9 margen">
            <h3 class="text-left">
              <%= f.label :nombre_del_funcionario %>
              <%= f.text_field :nombre %>
            </h3>
            <br>
            <h3 class="text-left">
              <%= f.label :cargo_del_funcionario%>
              <%= f.cktext_area :cargo %>
            </h3>
            <br>
            <h3 class="text-left">
              <%= f.label :correo_electronico %>
              <%= f.text_field :correo %>
            </h3>
            <br>
            <h3 class="text-left">
              <%= f.label :imagen_del_funcionario %>
              <%= f.text_field :imagen %>
            </h3>
            <br>
            <h3 class="text-left">
              <%= f.label :tipo_de_funcionario %>
              <%= f.select(:funcion, options_for_select([['Administrativo',0], ['Grupo de apoyo',1],['Academico',2]])) %>
            </h3>
            <br>
            <div class="actions">
              <%= f.submit 'Guardar', :class => 'btn btn-outline-success btn-lg margen1' %>
            </div>
            <% end %>
            <br>
            <%= link_to 'Volver', organizacion_path, :class => 'btn btn-outline-primary btn-lg margen1' %>
    </div>
 <!-- Fin Noticias -->
 <!-- Inicio Agenda -->
 <!-- Fin Agenda -->
 <!-- Inicio Limpiar flotante -->
 <div class="limpiar"></div>
 <!-- Fin Limpiar flotante -->
</main>
<!-- FIN CONTENIDO PRINCIPAL -->

<!-- INICIO REDES -->
<aside id="redes">
 <div class="contenedor-redes envoltura-16">
  <nav class="menu-redes">
   <ul>
    <li id="linkcat-12" class="linkcat">
     <h2>S&Iacute;GUENOS EN REDES SOCIALES:</h2>
     <ul class='xoxo blogroll'>
      <li><a href="" title="" target="_blank"><img src="images/00_comunes/02_redes_sociales/facebook.png" alt="Twitter"  title="Twitter UTEM" /></a></li>
      <li><a href="" title="" target="_blank"><img src="images/00_comunes/02_redes_sociales/twitter.png"  alt="Twitter"  title="Twitter UTEM" /></a></li>
      <li><a href="" title="" target="_blank"><img src="images/00_comunes/02_redes_sociales/instagram.png"  alt="Twitter"  title="Twitter UTEM" /></a></li>
      <li><a href="" title="" target="_blank"><img src="images/00_comunes/02_redes_sociales/linkedin.png"  alt="Twitter"  title="Twitter UTEM" /></a></li>
      <li><a href="" title="" target="_blank"><img src="images/00_comunes/02_redes_sociales/youtube.png"  alt="Twitter"  title="Twitter UTEM" /></a></li>
     </ul>
    </li>
   </ul>
  </nav>
  <div class="acreditacion"><img src="images/00_comunes/00_portales/ico_cna.png" alt="Acreditaci?"></div>
 </div>
 <!-- Inicio Limpiar flotante -->
 <div class="limpiar"></div>
 <!-- Fin Limpiar flotante -->
</aside>
<!-- FIN REDES -->

<!-- INICIO PIE -->
<footer id="pie-pagina" class="envoltura">
 <div class="linea-inf-oscura">
  <div id="menu-pie-pagina" class="envoltura-16">
   <ul>
    <li class="col-4-pie">
     <div class="borde-menu-pie-pagina">
      <header class="cabecera-nav-pie-pagina">
       <h3>NUESTROS SITIOS:</h3>
      </header>
      <nav class="nav-pie-pagina">
       <ul>
        <li><a href="">Facebook</a></li>
        <li><a href="">Twitter</a></li>
       </ul>
      </nav>
     </div>
     <!-- Inicio Limpiar flotante -->
     <div class="limpiar"></div>
     <!-- Fin Limpiar flotante -->
    </li>
    <li class="col-4-pie">
     <div class="borde-menu-pie-pagina">
      <header class="cabecera-nav-pie-pagina">
       <h3>SERVICIOS:</h3>
      </header>
      <nav class="nav-pie-pagina">
       <ul>
        <li><a href="">Web Mail</a></li>
        <li><a href="">Intranet</a></li>
        <li><a href="">Reko</a></li>
       </ul>
      </nav>
     </div>
     <!-- Inicio Limpiar flotante -->
     <div class="limpiar"></div>
     <!-- Fin Limpiar flotante -->
    </li>
    <li class="col-4-pie">
     <div class="borde-menu-pie-pagina">
      <header class="cabecera-nav-pie-pagina">
       <h3>NUESTRO SITIO:</h3>
      </header>
      <nav class="nav-pie-pagina">
       <ul>
        <li><a href="">Acerca del Sitio</a></li>
        <li><a href="">Pol&iacute;ticas de Privacidad</a></li>
        <li><a href="">Mapa del sitio</a></li>
       </ul>
      </nav>
     </div>
     <!-- Inicio Limpiar flotante -->
     <div class="limpiar"></div>
     <!-- Fin Limpiar flotante -->
    </li>
    <li class="col-4-pie">
     <div class="borde-menu-pie-pagina">
      <header class="cabecera-nav-pie-pagina">
       <h3>ACCESO INTRANET:</h3>
      </header>
      <div id="intranet">
       <form id="form-intranet" action="http://www.utem.cl/login.php" method="post">
        <div class="campo"><input type="text" name="usuario" id="usuario" value="" onFocus="clearField('')" onBlur="setField('', 'o')"/></div>
        <div class="campo"><input type="password" name="pwd" id="clave" value="" onFocus="clearField('')" onBlur="setField('', '')"/></div>
        <div class="campo-alt"><input type="submit" name="boton" id="entrar"  value="Entrar"></div>
       </form>
      </div>
     </div>
     <!-- Inicio Limpiar flotante -->
     <div class="limpiar"></div>
     <!-- Fin Limpiar flotante -->
    </li>
   </ul>
   <!-- Inicio Limpiar flotante -->
   <div class="limpiar"></div>
   <!-- Fin Limpiar flotante -->
  </div>
 </div>
 <!-- Inicio Corporativo Pie Pagina -->
 <div id="corporativo-pie-pagina">
  <div class="contenedor-crpvo-pie-pagina envoltura-16">
   <div class="meta-autor">
    <div class="copyright">
     <p>Dieciocho 161 - Santiago, Chile. Metro Moneda - Fono: 2787 7500<br>Sitio dise&ntilde;ado y desarrollado por el <a href="http://www.utem.cl/actualidad/programa-de-comunicacion/" target="_blank">Programa de Comunicaci&oacute;n y Asuntos P&uacute;blicos - UTEM</a><br>Soporte Inform&aacute;tico <a href="http://www.utem.cl/funcionarios/sistema-de-servicios-de-informatica-%E2%80%93-sisei/" target="_blank">SISEI</a></p>
     <p class="cp">? 2016 Universidad Tecnol?ica Metropolitana. - Todos los derechos reservados.<p>
    </div>
   </div>
   <div class="gob-pie"><img src="images/00_comunes/00_portales/gob_ch.jpg" alt="Gobierno de Chile"></div>
  </div>
  <div class="borde-sup-crpvo-ppag">
   <div id="logos-pie-rsp" class="envoltura-16">
    <div class="acreditacion-rsp"><img src="images/00_comunes/00_portales/ico_cna_768.png" alt=""></div>
    <div class="gob-pie-rsp"><img src="images/00_comunes/00_portales/gob_ch_768.jpg" alt=""></div>
   </div>
   <!-- Inicio Limpiar flotante -->
   <div class="limpiar"></div>
   <!-- Fin Limpiar flotante -->
  </div>
 </div>
 <!-- Fin Corporativo Pie Pagina -->
</footer>
<!-- FIN PIE -->

</body>

</html>