<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
<h3>Todos lo usuarios</h3>
<br>
<br>
<div class="container">
	<div>
<table class="table">
  <thead>
    <tr>
      <th>ID usuario</th>
      <th>Nombre</th>
      <th>Tipo de accesibilidad</th>
      <th>Correo de usuario</th>
      <th>Ultima edición</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |y| %>
    <tr>
      <td><%= y.id%></td>
      <td><%= y.nombre%></td>
      <td><%= y.role.nombre%></td>
      <td><%= y.email%></td>	
      <td><%= y.updated_at%></td>
      <td><%= link_to "Eliminar", eliminar_usuario_path(y),:class => 'btn btn-outline-danger' , method: :delete, data: {confirm: "Se eliminará a #{y.nombre}, seguro?"} %>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
	</div>
	<div class="pagination">
            <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
    </div>
</div>
<center>
<%= link_to "Volver", portal_path,:class => 'btn btn-outline-primary' %> 
</center>
</body>
</html>