<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Junge" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond-master/src/respond.js"></script>
  <![endif]-->
  <script type="text/javascript">
      document.getElementsByTagName('html')[0].style.fontSize = '62.5%';
      document.body.style.fontSize = '1.6rem';
  </script>
  <meta charset="utf-8">
  <title>Universidad Tecnol&oacute;gica Metropolitana</title>
  <style type="text/css">
    a:link, li {
      text-decoration:none;
      margin-bottom: -5px;
    }
    body {
      font-family: 'Junge', serif;
      margin-top: 1em;
      margin-bottom: 1em;
      font-size:
    }
    .margen {
      margin-top: 1.5em;
    }
    .margen1 {
      margin-top: 1em;
    }
    .utem-log{
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 2em;
      margin-right: 1em;
    }

    a:hover{
      background-color: transparent;
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <div class="row text-center">
    <div class="col-md-3">
      <img  width="300" height="70" src="http://uestatales.cl/cue/sites/default/files/publicaciones/utem_imagotipoPNG.png" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center margen3">
      <br>
      <br>
      <nav class="nav flex-column margen">
      <% if can? :manage, :all %> <!-- SOLO PARA EL ADMINISTRADORGENERAL -->
        <h4 class="nav-link text-left"><a href="aceptar_oferta">Ofertas Laborales <span class="badge badge-default"><%= @oferta_laborals %></span></a></h4>
        <% end %>
        <a class="nav-link text-left" href="iniciodepto/inicio">Departamento de Informática y Computación</a>
        <a class="nav-link text-left" href="inicioe/inicio">Escuela de Informática</a>
        <a class="nav-link text-left" href="noticias/inicio.html">Noticias</a>
        <a class="nav-link text-left" href="noticias/eventos.html">Eventos</a>
        <a class="nav-link text-left" href="contacto.html">Contacto</a>
        <form class="" id="">
          <input class="form-control mr-sm-1 text-left" type="text" placeholder="Buscar">
          <button class="btn btn-outline-success margen1" type="submit">Buscar</button>
        </form>
      </nav>
    </div>
    <div class="col-md-9">
      <ol class="">
        <h2 class="text-center margen">PORTAL UNIDAD DE INFORMÁTICA</h2>
      </ol>
      <% if can? :manage, Casilla,NoticiaEscuela,FuncionarioDepto  %>
      <%= link_to "Salir",destroy_user_session_path , method: :delete , :class => "float-right btn btn-danger"%>

      <% flash.each do |name, msg| %>
        <div class="pad margin no-print">
          <%= content_tag :div, :class => "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", :role => "alert" do %>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <%= msg %>
          <% end %>
        </div>
        <% end %>
          <% end %>
      <center>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block mx-auto rounded img-fluid" width="1400" height="520" src="https://document-export.canva.com/DACj9XMt7k0/4/preview/0001-421868759.png" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block  mx-auto rounded img-fluid" width="1400" height="520" src="https://document-export.canva.com/DAClYJZcy20/1/preview/0001-469356270.png" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block  mx-auto rounded img-fluid" width="1400" height="520" src="https://document-export.canva.com/DACj9UONa9A/3/preview/0001-421887032.png" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </center>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-9 margen">
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-9 margen">
      <div class="row">
        <div class="col-md-6">
          <ol class="breadcrumb">
            <h3 class="text-left">NOTICIAS</h3>
            <% @noticia_escuelas.each do |i|%>
            <div class="row">
              <div class="col-md-3 margen">
                <img <%= i.imagen%> >
              </div>
              <div class="col-md-8 margen">
                <h4><a href="../noticias/mostrarn/<%=i.id%>"><%= i.nombre%></a></h4>
              </div>
            </div>
                <% end %>
            <a href="noticias/inicio.html"><h5 class="text-right">Ver mas noticias</h5></a>
          </ol>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb">
            <h3 class="text-left">EVENTOS</h3>
            <% @evento_escuelas.each do |j|%>
            <div class="row">
              <div class="col-md-3 margen">
                <h4 class="text-center"><%= j.fecha%></h4>
              </div>
              <div class="col-md-9 margen">
                <h4 class="text-left"><%= j.nombre%></h4>
              </div>
            </div>
            <% end %>
            <a href="noticias/eventos.html"><h5 class="text-right">Ver mas eventos</h5></a>
          </ol>
        </div>
      </div>
    </div>
    <br>
    <!-- INICIO PIE -->
<footer id="pie-pagina" class="envoltura">
  <div class="linea-inf-oscura">
    <div id="menu-pie-pagina" class="envoltura-16">
      <ul>
        <li class="col-4-pie">
          <div class="borde-menu-pie-pagina">
            <header class="cabecera-nav-pie-pagina">
              <h3>NUESTROS SITIOS:</h3>
            </header>
            <nav class="nav-pie-pagina">
              <ul>
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
              </ul>
            </nav>
          </div>
          <!-- Inicio Limpiar flotante -->
          <div class="limpiar"></div>
          <!-- Fin Limpiar flotante -->
        </li>
        <li class="col-4-pie">
          <div class="borde-menu-pie-pagina">
            <header class="cabecera-nav-pie-pagina">
              <h3>SERVICIOS:</h3>
            </header>
            <nav class="nav-pie-pagina">
              <ul>
                <li><a href="">Web Mail</a></li>
                <li><a href="">Intranet</a></li>
                <li><a href="">Reko</a></li>
              </ul>
            </nav>
          </div>
          <!-- Inicio Limpiar flotante -->
          <div class="limpiar"></div>
          <!-- Fin Limpiar flotante -->
        </li>
        <li class="col-4-pie">
          <div class="borde-menu-pie-pagina">
            <header class="cabecera-nav-pie-pagina">
              <h3>NUESTRO SITIO:</h3>
            </header>
            <nav class="nav-pie-pagina">
              <ul>
                <li><a href="">Acerca del Sitio</a></li>
                <li><a href="">Pol&iacute;ticas de Privacidad</a></li>
                <li><a href="">Mapa del sitio</a></li>
              </ul>
            </nav>
          </div>
          <!-- Inicio Limpiar flotante -->
          <div class="limpiar"></div>
          <!-- Fin Limpiar flotante -->
        </li>
        <li class="col-4-pie">
          <div class="borde-menu-pie-pagina">
            <header class="cabecera-nav-pie-pagina">
              <h3>ACCESO INTRANET:</h3>
            </header>
            <div id="intranet">
              <% unless current_user %>
       <a href="users/sign_in">
        <div class="campo-alt"><input type="submit" name="boton" id="entrar"  value="Iniciar Sesión"></div>
       </a>
       <% else %>
       <a href="#">
        <div class="campo-alt"><input type="submit" name="boton" id="entrar"  value="Usted ya está como administrador"></div>
       </a>
       <%end%>
            </div>
          </div>
          <!-- Inicio Limpiar flotante -->
          <div class="limpiar"></div>
          <!-- Fin Limpiar flotante -->
        </li>
      </ul>
      <!-- Inicio Limpiar flotante -->
      <div class="limpiar"></div>
      <!-- Fin Limpiar flotante -->
    </div>
  </div>
  <!-- Inicio Corporativo Pie Pagina -->
  <div id="corporativo-pie-pagina">
    <div class="contenedor-crpvo-pie-pagina envoltura-16">
      <div class="meta-autor">
        <div class="copyright">
          <p>Dieciocho 161 - Santiago, Chile. Metro Moneda - Fono: 2787 7500<br>Sitio dise&ntilde;ado y desarrollado por el <a href="http://www.utem.cl/actualidad/programa-de-comunicacion/" target="_blank">Programa de Comunicaci&oacute;n y Asuntos P&uacute;blicos - UTEM</a><br>Soporte Inform&aacute;tico <a href="http://www.utem.cl/funcionarios/sistema-de-servicios-de-informatica-%E2%80%93-sisei/" target="_blank">SISEI</a></p>
          <p class="cp">? 2016 Universidad Tecnol?ica Metropolitana. - Todos los derechos reservados.<p>
        </div>
      </div>
      <div class="gob-pie"><img src="images/00_comunes/00_portales/gob_ch.jpg" alt="Gobierno de Chile"></div>
    </div>
    <div class="borde-sup-crpvo-ppag">
      <div id="logos-pie-rsp" class="envoltura-16">
        <div class="acreditacion-rsp"><img src="images/00_comunes/00_portales/ico_cna_768.png" alt=""></div>
        <div class="gob-pie-rsp"><img src="images/00_comunes/00_portales/gob_ch_768.jpg" alt=""></div>
      </div>
      <!-- Inicio Limpiar flotante -->
      <div class="limpiar"></div>
      <!-- Fin Limpiar flotante -->
    </div>
  </div>
  <!-- Fin Corporativo Pie Pagina -->
</footer>
<!-- FIN PIE
</div>
</body>
</div>
</html>